<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Semantic UI -->
    <!-- add component wise like form,menu but if u want whole css then install semantic.css or 
    semantic.min.css to make things faster -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/app.css">

    <title>BLOG APP</title>
</head>
<body>

    <div class="ui inverted fixed menu"> 
        <div class="ui container">
            <div class="header item"><i class="bookmark outline icon"></i>BLOG SITE</div>
            <a href="/blogs" class="item">Home</a>
            <a href="/blogs/new" class="item" style="padding: 20 auto;"><i class="edit outline icon"></i>New Post </a>
        </div>    
    </div>
    
